.forms {
  margin-top: 56px;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 1000px;
  display: grid;
  grid-template-rows: 1fr 300px;
}

.fields {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 40px;
}
.button {
  justify-self: center;
  height: 50px;
  border: none;
  font-size: 20px;
  width: 300px;
  align-self: center;
  cursor: pointer;
}
